#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.list {
  font-size: 16px;
  text-align: left;
}

.conteiner {
  width: 700px;
  min-height: 400px;
  background-color: rgb(126, 119, 111);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.inputForm {
  padding: 0.8em 1.2em;
  border-radius: 8px;
  display: block;
  width: 100%;
}